{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="istanbul matematik özel ders, özel ders, gökhan hoca, gökhan hoca matematik " />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">

  <title>GÖKHAN HOCA</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
  <script type="text/javascript">
    (function () {
        var options = {
            whatsapp: "+905444030453",
            call_to_action: "Merhaba, nasıl yardımcı olabilirim?",
            position: "right",
        };
        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
  </script>
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="{% url 'index' %} ">
            <h3>
              GÖKHAN
            </h3>
            <span> HOCA</span>
          </a>
          <span>
            <a href="tel:+905444030453">TEK TIKLA ARA</a>
          </span>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
            <ul class="navbar-nav  ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">ANASAYFA <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}"> HAKKIMIZDA </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'tests' %}"> Tüm Testler </a>
              </li>
              {% for category in categories %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'tests_by_category' category.slug %}">{{category.name}} </a>
              </li>
              {% endfor %}
              <li class="nav-item">
                <a class="nav-link" <a href="https://wa.me/+905444030453" target="_blank" rel="noopener noreferrer">
                  ÖZEL DERS TALEP
               </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" <a href="https://wa.me/+905444030453" target="_blank" rel="noopener noreferrer">
                  İLETİŞİM
               </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section position-relative">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="detail-box">
                    <div>
                      <h1>
                        GÖKHAN HOCA
                      </h1>
                      <a href="">
                        Eğitim Duayeni Gökhan Hocanın Kişisel Sitesine Hoşgeldiniz.
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="detail-box">
                    <div>
                      <h1>
                        MATEMATİĞE DAİR HERŞEY
                      </h1>
                      <a href="">
                        Matematik alanında yaşadığınız sorunlara pratik çözümler
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="detail-box">
                    <div>
                      <h1>
                        GERÇEK EĞİTİMCİDEN
                      </h1>
                      <a href="">
                        KALİTELİ HİZMET
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="detail-box">
                    <div>
                      <h1>
                        deneme
                      </h1>
                      <a href="">
                        KALİTELİ HİZMET
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <!-- special section -->

  <section class="special_section">
    <div class="container">
      <div class="special_container">
        <div class="box b1">
          <div class="img-box">
            <img src="{% static 'images/award.png' %}" alt="" />
          </div>
          <div class="detail-box">
            <h4>
              Matematikte <br />
              Başarıya Giden Yol
            </h4>
            <a href="">
            </a>
          </div>
        </div>
        <div class="box b2">
          <div class="img-box">
            <img src="{% static 'images/study.png' %}" alt="" />
          </div>
          <div class="detail-box">
            <h4>
              Eksiklerinizi <br />
              Birlikte Tamamlayalım.
            </h4>
            <a href="">
            </a>
          </div>
        </div>
        <div class="box b3">
          <div class="img-box">
            <img src="{% static 'images/books-stack-of-three.png' %}" alt="" />
          </div>
          <div class="detail-box">
            <h4>
              Sizin İçin Seçtiğim <br />
              Testler
            </h4>
            <a href="{% url 'tests' %}">
              Tüm Testler 
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end special section -->

  <!-- about section -->
  <section class="about_section layout_padding">
    <div class="side_img">
      <img src="{% static 'images/side-img.png' %}" alt="" />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img_container">
            <div class="img-box b1">
              <img src="{% static 'images/gökhan sönmez.jpeg' %}" alt="" />
            </div>
            <div class="img-box b2">
              <img src="{% static 'images/a-2.jpg' %}" alt="" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h3>
               Hakkımızda
              </h3>
              <p>
                Matematik İhtiyaçlarınıza Profesyonel Çözümler Sunan Bir Eğitmen...
              </p>
              <a href="{% url 'about' %}">
                Detaylı Bilgi
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- course section -->

  <section class="course_section layout_padding-bottom">
    <div class="side_img">
      <img src="{% static 'images/side-img.png' %}" alt="" />
    </div>
    <div class="container">
      <div class="heading_container">
        <h3>
          İHTİYAÇLARINIZA GÖRE ÇÖZÜMLER
        </h3>
        <p>
                  </p>
      </div>
      <div class="course_container">
        <div class="course_content">
          <div class="box">
            <img src="{% static 'images/c-1.jpg' %}" alt="" />
            <a href="" class="">
              <img src="{% static 'images/link.png' %}" alt="" />
            </a>
            <h5>
              İSTER <br />
              YÜZYÜZE
            </h5>
          </div>
          <div class="box">
            <img src="{% static 'images/c-5.jpg' %}" alt="" />
            <a href="" class="">
              <img src="{% static 'images/link.png' %}" alt="" />
            </a>
            <h5>
              İSTER <br>
              ONLİNE
            </h5>
        </div>
      </div>
    </div>
  </section>

  <!-- end course section -->

  <!-- event section -->
  <section class="event_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h3>
          TESTLER
        </h3>
        <p>
          Sizler İçin Seçtiğim Testler
        </p>
      </div>
      {% for test in tests %}
      <div class="event_container">
        <div class="box">
          <div class="img-box">
            <img src="#" alt="" />
          </div>
          <div class="detail-box">
            <h4>
              <a  href="{{ test.upload.url }}" target="_new">{{test.name}}</a>
            </h4>
            <h4>{{test.category}}</h4>
            <h6>
              {{test.description}}
            </h6>
          </div>
          <div class="date-box">
            <h3>
              <span>
                
                <a href="{{test.upload.url}}">
                  Testi İndir
                </a>
              </span>
              
            </h3>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="btn-box">
        <a href="{% url 'tests' %}">
          Tüm Testler
        </a>
      </div>
    </div>
  </section>

  <!-- end event section -->

  <!-- client section -->

  <section class="client_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container">
        <h3>
          Veli Yorumları
        </h3>
        <p>
          
        </p>
      </div>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/client.png' %}" alt="" />
              </div>
              <div class="detail-box">
                <h5>
                  Oğuz Aydın
                </h5>
                <p>
                  Gökhan hocamız çok kaliteli ve 
                  eğlenceli bir şekilde derslerini işlemekte.
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/client.png' %}" alt="" />
              </div>
              <div class="detail-box">
                <h5>
                  Distracted by
                </h5>
                <p>
                  It is a long established fact that a reader will be
                  distracted by the readable content of a page when looking at
                  its layout. The point of using Lorem Ipsum is that it has a
                  more-or-less normal distribution of letters
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/client.png' %}" alt="" />
              </div>
              <div class="detail-box">
                <h5>
                  Distracted by
                </h5>
                <p>
                  It is a long established fact that a reader will be
                  distracted by the readable content of a page when looking at
                  its layout. The point of using Lorem Ipsum is that it has a
                  more-or-less normal distribution of letters
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-box">
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end client section -->

  <!-- info section -->
  <section class="info_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_menu">
            <h5>
              Hızlı Erişim
            </h5>
            <ul class="navbar-nav  ">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Anasayfa <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}"> Hakkımızda </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'tests' %}"> Tüm testler </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_course">
            <h5>
              
            </h5>
            <p>
              Matemaikle ilgili problemlerinize kolay çözümler
            </p>
          </div>
        </div>

        <div class="col-md-5 offset-md-1">
          <div class="info_news">
            <h5>
              Bütün sorularınız için arayabilirsiniz
            </h5>
            <div class="info_contact">
              <a href="">
                Altunizade/İstanbul
              </a>
              <a href="">
                gokhanhoca@gmail.com
              </a>
              <a href="">
                İLETİŞİM : <a href="tel:+905444030453">05444030453</a>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info section -->

  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

</body>

</html>